{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <h1 class="mt-5">Enregistrement</h1>

        {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
        {{ form_errors(registrationForm) }}

        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous enregistrer</h1>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(registrationForm.mobile, {'attr': {'class': 'form-control', 'placeholder': 'Mobile'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
            </div>
        </div>

        {{ form_row(registrationForm.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            'label': 'Mot de Passe',
            'attr': {'class': 'form-control', 'placeholder': 'Mot de Passe'}
        }) }}
        {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'form-check-label'}}) }}

        <button type="submit" class="btn btn-primary btn-block">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
