{% extends 'base.html.twig' %}

{% block title %}Processed Data{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>Processed Data</h1>

        {% if form is defined %}
            <h2>Formulaire</h2>
            {{ form_start(form, {'attr': {'action': path('save_facture')}}) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            {{ dump(form) }}
            {{ form_end(form) }}
        {% endif %}

        {# Afficher le résultat après la soumission du formulaire #}
        {% if confirmed is defined and confirmed %}
            <div style="margin: 20px 0;">
                <h2>Resultat</h2>
                <p>Le formulaire a été soumis avec succès!</p>
                {% if saved_facture.getFournisseur() is not null %}
                    <p>Fournisseur : {{ saved_facture.getFournisseur().getNom() }}</p>
                {% endif %}
                {% if saved_facture is not null %}
                    <p>Contrat : {{ saved_facture.getContrat() }}</p>
                    <p>Client : {{ saved_facture.getClient() }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
