{# templates/fournisseur/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails du Fournisseur{% endblock %}

{% block body %}
    <h1>Détails du Fournisseur</h1>
    <p>Nom du fournisseur : {{ fournisseur.nom }}</p>
    
    <h2>Factures :</h2>
    <ul>
        {% for facture in fournisseur.factures %}
            <li>{{ facture.id }} - Contrat: {{ facture.contrat }}, Client: {{ facture.client }}</li>
        {% endfor %}
    </ul>

    <h2>Ajouter une nouvelle facture :</h2>
    <a href="{{ path('ocr_upload'), {'id': fournisseur.id})}}">Ajouter une facture</a>
{% endblock %}
